<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HelloWorld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F50F76AD1D7A6297007F8E62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F50F76C11D7A6297007F8E62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F50F76CC1D7A6297007F8E62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
